@media (max-width: 768px) {
    .header-logo, .header-action {
        text-align: center;
    }

    .header-phone > ul > li {
        display: block;
        clear: both;
        text-align: center;
        float: none!important;
        margin-top: 7px;
    }

    .header-action * {
        float: none!important;
    }


    /** footer **/
    .newsletter { margin: 20px 0; }
    .newsletter, .newsletter .social { text-align: center; }
    .newsletter .social { margin-top: 10px; }
    .newsletter .social ul { padding: 0; }

    .footer-info h4 { text-align: center; }

    .footer-contact { border-left: none; }
}