body{
    color: #000;
    font: normal 1.4em 'Lora', serif;
    color: #777777;
}

:focus {
    outline: none;
}

a{
    color: #000;
}

a:hover, a:focus, a:active{
    color: #ef1616;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

/** input **/

.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 10px 12px 12px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #9c9b9b;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #d6d4d4;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

/** btn **/

input, button {
  outline: none;
}

input:focus, button:focus {
    outline: none;
}

input:active, button:focus:active {
    outline: none;
}

.btn{
    font: normal 13px/19px "Roboto", sans-serif;
    padding: 10px 16px 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal;
    text-transform: uppercase;
    text-align: center;
    outline: none;
}

.btn:focus, .btn:active{
    outline: none!important;
}

.btn-action{
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
    border: 1px solid #bababa;
    padding: 9px 14px 11px;
    color: #333333;
}

.btn-action:hover, .btn-action:active, .btn-action:focus{
    background: #333;
    border-color: #000;
    color: #fff;
}

.btn-info{
    color: #fff;
    background: #dc0f0f;
    border: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active{
    background: #333;
    color: #fff;
}

.btn-default{
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #bababa;
    -moz-box-shadow: inset 0 0 0 1px #bababa;
    box-shadow: inset 0 0 0 1px #bababa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #c50d0d;
    background: #f01615;
    background: -moz-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f01615), color-stop(30%, #ea1414), color-stop(80%, #db0d0d), color-stop(100%, #d70d0d));
    background: -webkit-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -o-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -ms-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: linear-gradient(to bottom, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
}

/** header **/
#header{
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 44%, #e7e7e7 100%);
    padding: 25px 0;
}

.header-logo{
    text-align: center;
}
.header-logo h1{
    margin: 0;
}
.header-logo h5{
    color: #ef1616;
}

.header-phone ul{
    list-style: none;
    padding: 0 20px;
}

.header-phone ul > li{
    display: inline-block;
    font-size: 18px;
}

.header-phone ul > li.location{
    float: right;
    font-size: 14px;
    line-height: 1.5em;
}

.header-phone ul > li.email{
    display:block;
    margin-top: 10px;
}

.header-phone ul > li > a{
    color: #ef1616;
    font-weight: 800;
    font-size: 14px;
}

.header-phone ul > li > a:hover{
    color: #000;
}

.header-action *{
    float: right;
}

/** home **/

#home{
    margin-top: 25px;
}

/** sidebar **/

.sidebar-block {
    border-radius: 5px;
    background: linear-gradient(to bottom, #f01615 0%, #ee1617 9%, #e61211 41%, #e21212 55%, #e10f10 58%, #db0d0d 77%, #d70d0d 100%);
}

.sidebar-block .title {
    text-transform: uppercase;
    color: #000;
    padding: 16px 15px;
    font-size: 1.5em;
    background: #E6E6FA;
}

.sidebar-category ul {
    list-style: none;
    padding: 0;
}

.sidebar-category > ul > li {
    position: relative;
    border-top: 1px solid #b81111;
}

.sidebar-category > ul > li.active {
    background-color: #bf1212;
}

.sidebar-category > ul > li > a {
    padding: 12px 15px;
    display: block;
    color: #fff;
    /** text-transform: uppercase; **/
    font-size: 1.3em;
    letter-spacing: 0.125em;
    font-weight: 400;
}

.sidebar-category > ul > li > a:hover {
    background-color: #bf1212;
}

.sidebar-category ul .dropdown-sub {
    position: absolute;
    right: 8px;
    top: 12px;
    color: #fff;
    font-size: 18px;
    float: right;
}

/** level 2 **/
.sidebar-category > ul > li > ul {
    display: none;
    background: #E6E6FA;
}

.sidebar-category > ul > li > ul > li > a {
    padding: 6px 15px;
    color: #333333;
    /** text-transform: uppercase; **/
    font-size: 1em;
    letter-spacing: 0.125em;
    font-weight: 400;
    display: block;
}

.sidebar-category > ul > li > ul > li > a:hover {
    color: #ef1616;
}

/** global list product **/

.container-product{
    position: relative;
}

.list-products .container-product {
    border-left: 1px solid #bababa;
    margin-bottom: 15px;
}

.list-products .nav-tabs{

}

.list-products .nav-tabs>li.active>a, .list-products .nav-tabs>li.active>a:focus, .list-products .nav-tabs>li.active>a:hover{
    border: 1px solid #bababa;
    border-bottom-color: transparent;
}

.list-products .container-product.new:before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: 'Новое';
    font: normal 13px/18px "Roboto", sans-serif;
    color: white;
    background: #000;
    text-transform: uppercase;
    padding: 1px 5px 3px;
    text-align: center;
    display: inline-block;
    z-index: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.list-products .container-product.discount:before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: 'Распродажа';
    font: normal 13px/18px "Roboto", sans-serif;
    color: white;
    background: #ef1616;
    text-transform: uppercase;
    padding: 1px 5px 3px;
    text-align: center;
    display: block;
    z-index: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.list-products .container-product .img {
    border-bottom: 1px solid #bababa;
    padding: 30px 15px;
    height: 300px;
}

.list-products .container-product .div-img{
    position: relative;
    overflow: hidden;
    height: 100%;
}

.list-products .container-product .img img {
    position: absolute;
    width: auto;
    height: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.list-products .container-product .content {
    padding: 30px 15px 0;
}

.list-products .container-product .title a{
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: "PT Sans", sans-serif;
}
.list-products .container-product .desc{
    color: #777777;
    /** text-align: justify; **/
}

.list-products .container-product .price{
    font: 600 26px/36px "PT Sans", sans-serif;
    color: #ef1616;
    margin: 5px 0 10px;
}


.list-products .container-product .price del{
    color: #777777;
    font-size: 20px;
    font-weight: normal;
}

.list-products .container-product .price .price-percent-reduction{
    color: #000;
    font-size: 20px;
}

.list-products .container-product .action *{
    display: inline-block;
}

.list-products .container-product .action .buy:before{
    font-family: "FontAwesome";
    content: "";
    font-size: 20px;
    line-height: 18px;
    padding-right: 3px;
    vertical-align: -1px;
}

/** footer **/

.newsletter{
    padding: 15px 0;
    margin: 50px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef1616), color-stop(100%, #d70d0d));
    background: -webkit-linear-gradient(top, #ef1616 0%, #d70d0d 100%);
    background: -o-linear-gradient(top, #ef1616 0%, #d70d0d 100%);
    background: -ms-linear-gradient(top, #ef1616 0%, #d70d0d 100%);
    background: linear-gradient(to bottom, #ef1616 0%, #d70d0d 100%);
}

.newsletter .social{
    text-align: right;
}

.newsletter .social ul{
    list-style: none;
}

.newsletter .social ul > li{
    display: inline-block;
}

.newsletter .social ul > li > a{
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 53px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 53px;
    z-index: 1;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    background: #262626;
}

.newsletter .social ul > li > a:hover{
    color: #181818;
    background: #fff;
}

.newsletter .social ul > li > a:before{
    display: block;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 53px;
    text-transform: none;
    font-family: "FontAwesome";
}

.newsletter .social ul > li.odnoclass > a:before {
    content: "\f263";
}
.newsletter .social ul > li.vkontakte > a:before {
    content: "\f189";
}

footer h4{
    font: bold 20px/24px "PT Sans", sans-serif;
    color: black;
    text-transform: uppercase;
    margin: 0 0 13px 0;
}

.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul > li:not(:first-child) {
    border-top: 1px solid #bababa;
}
.footer-info ul > li{
    padding: 9px 0 13px;
}

.footer-info ul > li > a {
    color: #888;
    font-size: 13px;
    line-height: 18px;
}

.footer-info ul > li > a:hover {
    color: #ef1616;
}

.footer-contact{
    border-left: 1px solid #bababa;
}

.footer-contact .phone:before{
    font-family: "FontAwesome";
    content: "";
    color: #dfdfdf;
    font-size: 32px;
    line-height: 32px;
    padding-right: 11px;
    vertical-align: -1px;
}

.footer-contact .phone{
    font: normal 30px/42px "PT Sans", sans-serif;
    color: #ef1616;
    margin-bottom: 10px;
    font-style: normal;
}

.footer-bottom {
    margin-top: 30px;
    background: #191919;
    padding: 15px 0 20px;
    color: #fff;
    font-size: 12px;
}

.partner-slider{
    margin: 30px 0 0;
}

.partner-slider-cotainer{
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 150px;
}

.partner-slider-cotainer img, .partner-slider-cotainer h5{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.partner-slider-cotainer h5{
    font-size: 20px;
}

.partner-slider h3{
    margin-bottom: 40px;
    color: #000;
}

/** pagination **/

.pagination {
    text-align: center;
}

.pagination .page-numbers:not(.dots){
    font-size: 16px;
    padding: 5px 7px;
    border: 1px solid #bababa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.pagination .page-numbers:not(.dots):hover{
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #c50d0d;
    background: #f01615;
    background: -moz-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f01615), color-stop(30%, #ea1414), color-stop(80%, #db0d0d), color-stop(100%, #d70d0d));
    background: -webkit-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -o-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: -ms-linear-gradient(top, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
    background: linear-gradient(to bottom, #f01615 0%, #ea1414 30%, #db0d0d 80%, #d70d0d 100%);
}

.modal-dialog{
    margin-top: 4%!important;
}

#modal-order textarea, #modal-callback textarea{
    max-width: 100%;
    width: 100%;
    height: 100px;
    padding: 10px;
}