.slider-home-container{
    position: relative;
    z-index: 0;
    height: 400px;
    overflow: hidden;
}
.slider-home .slick-dots {
    top: 25px;
    right: 50px;
    text-align: right;
    width: auto;
    height: auto;
    display: inline-block;
}

.slider-home-container .desc {
    position: absolute;
    z-index: 20;
    bottom: 20%;
    left: 7%;
    padding: 10px 15px;
    background: rgba(230,230,250, 0.9);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    max-width: 45%;
    font-weight: 800;
}

.slider-home .slick-dots li button:before {
    color: #fff;
    font-size: 16px;
    opacity: 1;
}
 .slider-home .slick-dots li.slick-active button:before {
     color: #ef1616;
 }

.slider-home-container img {
    position: absolute;
    width: 100%;
    min-height: 450px;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}