#category .list-products {
    margin-top:20px;
}

#category .category-header {
    margin-top: 20px;
}

#category .category-header .title {
    font: 600 25px/30px "PT Sans",sans-serif;
    margin-bottom: 12px;
    display: inline-block;
    color: #000;
}