.single-product-container {
	margin-top: 20px;
}
#single-product .images-product .list-images{
	margin: 0 90px;
}
#single-product .images-product .list-images .container-list-images {
	position: relative;
	overflow: hidden;
	height: 100px;
	border: 1px solid #bababa;
	outline: none;
	cursor: pointer;
}

#single-product .images-product .list-images .container-list-images:nth-child(3n) {
	margin: 0;
}

#single-product .images-product .list-images .slick-prev:before, #single-product .images-product .list-images .slick-next:before{
	 opacity: 1;
	 color: #000;
	 font-family: "FontAwesome";
	 font-size: 18px;
	 padding: 5px;
	 line-height: 22px;
}

#single-product .images-product .list-images .slick-prev:hover, #single-product .images-product .list-images .slick-next:hover{
	opacity: 0.5;
}

#single-product .images-product .list-images .container-list-images img{
	 position: absolute;
	 width: auto;
	 height: 100%;
	 min-height: 100%;
	 display: block;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 -ms-transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	 -o-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
}

#single-product .images-product .main-image{
	position: relative;
	overflow: hidden;
	height: 400px;
	border: 1px solid #bababa;
	outline: none;
	cursor: pointer;
}

#single-product .images-product .main-image{
	margin-bottom: 20px;
}

#single-product .images-product .main-image img{
	position: absolute;
	width: auto;
	height: 100%;
	min-height: 100%;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#single-product .info-product .title h3{
	  color: #000;
	  margin-top: 0;
}

#single-product .info-product .price{
	margin-top: 20px;
	color: #000;
	font-size: 20px;
}

#single-product .info-product .price .new-price{
	color: #ef1616;
	font-size: 26px;
}

#single-product .info-product .harak ul{
	list-style: none;
	padding: 0;
	display: block;
}

#single-product .info-product .harak ul li{
	display: inline-block;
	width: 100%;
}

#single-product .info-product .harak {
	border-top: 1px solid #bababa;
	margin-top: 5px;
	clear: both;
}

#single-product .info-product .harak h4, #single-product .info-product .full-desc{
	color: #000;
}

#single-product .info-product .harak ul li div{
	display: block;
	width: 50%;
	float: left;
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	padding: 10px 5px;
}

#single-product .info-product .harak ul li div:last-child{
	border-right: none;
}

#single-product .info-product .full-desc {
	margin-top: 20px;
	clear: both;
}

#single-product .info-product .action{
	border-top: 1px solid #bababa;
	padding: 20px 0;
}

#single-product .breadcrumb{
	margin-top: 20px;
	margin-bottom: 0;
}